%nav.navbar.navbar-default{:role => "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:href => "/"}
        %img{height: "30", src: "/assets/logo.png", style: "margin-top: 40px;"}
    / Collect the nav links, forms, and other content for toggling
    .collapse.navbar-collapse.navbar-ex1-collapse
      %ul.nav.navbar-nav
        %li{class: "dropdown #{'active' if request.path == '/'}"}
          %a{:href => "/"} Home
        %li{class: "dropdown #{'active' if request.path.start_with?('/destinations')}"}
          %a{:href => "/destinations"} Destinations
        %li{class: "dropdown #{'active' if request.path.start_with?('/tours')}"}
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Tours
          %ul.dropdown-menu
            %li
              %a{:href => "/tours"} Bus Tour
            %li
              %a{:href => "/packages"} Packages
            %li
              %a{:href => "/courses"} Courses
        %li{class: "dropdown #{'active' if request.path.start_with?('/tickets')}"}
          %a{:href => "/tickets"} Airline Tickets
        %li{class: "dropdown #{'active' if request.path.start_with?('/hotel')}"}
          %a{:href => "/hotel"} Hotel
        %li{class: "dropdown #{'active' if request.path.start_with?('/rent-bus')}"}
          %a{:href => "/rent-bus"} Rent Bus
        %li{class: "dropdown #{'active' if request.path.start_with?('/about-us')}"}
          %a{:href => "/about-us"} Contact
      / /.nav
    / /.navbar-collapse
  / /.container
/ /.navbar
